.root {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.side {
  position: sticky;
  top: 96px;
  width: 312px;
  height: 322px;
  flex-shrink: 0;
  margin-bottom: 24px;
  -webkit-transform: translateZ(0);
}

.content {
  flex: 1;
}