.container {
  margin-bottom: 32px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 88px 48px;
  border-radius: 8px;
  background: linear-gradient(180deg, #fff, #f3f4f7);
  height: 322px;
}

.heading p {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.2;
  color: #121718;
}

.overviewText {
  color: #9CA3AF;
} 