.button {
  cursor: pointer;
  padding: 16px 32px;
  background: var(--color-bg-grey);
  border-radius: 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  user-select: none;
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  outline: none;
  border: none;
  text-align: center;
  transition: background 0.3s ease-in-out;

  &.wide {
    width: 100%;
  }

  &.gray {
    background: var(--color-bg-grey);
  }

  &.accent {
    background: #1a1a1a;

    &:hover {
      background: #2a2a2a;
    }
  }

  &.round {
    border-radius: 100px;
    font-size: 20px;
    padding: 20px 32px;
  }

  &:disabled {
    color: #1A1A1A;
    background: rgb(236, 253, 243);
    pointer-events: none;
  }

  &.outline {
    padding: 10px 18px;
    background: transparent;
    border: 1px solid #1a1a1a;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }

  &.no-background {
    padding: 10px 18px;
    background: transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #747576;
  }
} 