.main {
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
  background: #f8f8f8;
}

.home {
  background: #1A1A1A;
}

.fixed {
  position: sticky;
  bottom: 0;
  z-index: 0;
  -webkit-transform: translateZ(0);
  width: 100%;
}

/* a {
  text-decoration: none;
} */

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 112px;
  margin: 0 auto;
}

@media (max-width: 1080px) {
  .container {
    padding: 0 64px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 24px;
  }

  .fixed {
    z-index: initial;
    position: static;
    bottom: initial;
  }
}