.container {
  padding-top: 160px;
}
.title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 64px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #121718;
}

.label {
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #9CA3AF;
}
