.hero {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 752px;
  position: relative;
}

.heroSubmit {
  animation: float 2s ease-in-out infinite;
  transition: all 1s ease-in-out;

  &:hover {
    box-shadow: 0 5px 8px 0px rgba(0,0,0, 0.2) !important;
    transform: translatey(0px) !important;
  }

  &:active {
    background: grey;
  }
}

.linearBackground1 {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-0%, 0%);
  z-index: 0;
}

.linearBackground2 {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(25%, 5%);
  z-index: 0;
}

.heroTitle {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #121718;
  margin-bottom: 24px;

  span {
    background: url('/hero-text.jpg');
    background-repeat: no-repeat;
    background-size: 137%;
    background-position: 40% 56%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

.heroContainer {
  max-width: 1024px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 2;
  padding: 0 24px;
}

.heroDescription {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #121718;
  margin-bottom: 48px;
  max-width: 768px;
}

@media (max-width: 1024px) {
  .hero {
    height: initial;
    min-height: 683px;
  }

  .heroSubmit {
    width: 100%;
  }

  .heroTitle {
    font-size: 36px;
    line-height: 44px;
  }

  .heroDescription {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 32px;
  }

  .linearBackground1 {
    transform: translate(-45%, -25%);
  }

  .linearBackground2 {
    transform: translate(65%, 25%);
  }
}

@keyframes float {
  0% {
    box-shadow: 0 5px 8px 0px rgba(0,0,0, 0.3);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 10px 8px 0px rgba(0,0,0,0.1);
    transform: translatey(-2px);
  }
  100% {
    box-shadow: 0 5px 8px 0px rgba(0,0,0,0.3);
    transform: translatey(0px);
  }
} 