.black {
  background: #1A1A1A;
}

.waitList {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 72px 0px;
  gap: 64px;
  background: linear-gradient(90deg, rgba(238, 174, 202, 0.2) 9.68%, rgba(148, 187, 233, 0.2) 85.58%), #F9FAFB;
  border-radius: 0px 0px 60px 60px;

  .container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
}

.waitListTitle {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 69px;
  text-align: center;
  color: #121718;
  max-width: 768px;
  margin-bottom: 32px;

  span {
    color: $color-accent-500;
    -webkit-text-fill-color: $color-accent-500;
  }
}

.waitListSubtitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #121718;
  margin-bottom: 40px;
}

.waitListForm {
  display: flex;
  margin: 0 auto;
  max-width: 528px;
}

.waitListInput {
  margin-right: 16px;
}

@media (max-width: 1024px) {
  .waitList {
    border-radius: 0px 0px 30px 30px;
  }

  .waitListTitle {
    font-size: 30px;
    line-height: 44px;
    margin-bottom: 16px;
  }

  .waitListSubtitle {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 32px;
  }

  .waitListSubmit {
    width: 100%;
  }
} 