$color-accent: #E6436D;
// $color-accent: #0EAB8F;
$color-white: #ffffff;
$color-grey-light: #ced3dc;
$color-grey: #F5F5F5;
$color-black: #333333;

@mixin subtitle($type) {
  font-weight: 400;

  @if $type == '1' {
    font-size: 16px;
    line-height: 24px;
  }

  @if $type == '2' {
    font-size: 24px;
    line-height: 32px;
    @media (max-width: 768px) {
      font-size: 18px;
      line-height: 24px;
    }
  }
}

@mixin title($type) {
  font-weight: 700;

  @if $type == '1' {
    font-size: 32px;
    line-height: 48px;
  }

  @if $type == '2' {
    font-size: 24px;
    line-height: 32px;
  }

  @if $type == '3' {
    font-size: 24px;
    line-height: 32px;
    font-weight: 900;
  }
}

@mixin container {
  max-width: 1174px;
  margin: 0 auto;
  padding: 0 24px;
}

h1 {
  @include title('1');
  margin: 0;
}

h3 {
  @include subtitle('1');
  margin: 0;
}

h2 {
  @include subtitle('2');
  margin: 0;

}

* {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.accent {
  color: $color-accent;
}