@use "variables" as vars;

.main {
  width: 100%;
  background: #ffffff;
}

.faq {
  padding: 80px 0 0;
  background: #ffffff;
}

@include vars.tablet-horizontal {
  .faq {
    padding: 80px 0;
  }
}

@include vars.tablet-vertical {
  .faq {
    padding: 60px 0;
  }
}
